<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitacoraCAPRA.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="BitacoraCAPRA.Properties.Settings.Recoleccion1ConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL10.SQLEXPRESS\MSSQL\DATA\Recoleccion1.mdf&quot;;Integrated Security=True;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <BitacoraCAPRA.Properties.Settings>
            <setting name="FolderReciclados" serializeAs="String">
                <value>c:\Reciclados\</value>
            </setting>
        </BitacoraCAPRA.Properties.Settings>
    </applicationSettings>
</configuration>